@page "/cadastros/formularios/fiscais-salas/{id:int?}"
@using Domain.Models.Entities
@using Domain.Models.ViewModels
@using CenedQualificando.Domain.Models.Filters

@inherits CenedQualificando.Web.Admin.Shared.CodeBase.Pages.FormPageBase<FiscalSala, FiscalSalaFilter, FiscalSalaViewModel, IFiscalSalaApiService>

<MudCard Elevation="0">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Color="Color.Primary">Formulário</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudGrid>
            <MudItem md="12" xs="12">
                <MudTextField T="string" Label="Campo" Placeholder="Campo"
                              Variant="Variant.Outlined" Margin="Margin.Dense" />
            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>

<br />

<div style="position: fixed; bottom: 30px; right: 30px;">
    <MudTooltip Text="Cancelar" Placement="Placement.Top">
        <MudFab Icon="@Icons.Material.Filled.Close" Color="Color.Default" Size="Size.Small"
                OnClick="@(() => OpenRoute(BackRoute))"
                DisableElevation="true" />
    </MudTooltip>
    <MudTooltip Text="Salvar" Placement="Placement.Top">
        <MudFab Icon="@Icons.Material.Filled.Save" Color="Color.Success" Size="Size.Large" />
    </MudTooltip>
</div>