<p>
    <strong>CLÁUSULAS GERAIS</strong>
</p>
<p class="justificado">
    <strong>
        CLÁUSULA PRIMEIRA - Da prestação de
        serviços
    </strong>: O presente contrato tem por objeto a
    Prestação de Serviços Educacionais ao
    Contratante/Cursista, em cursos de Formação Inicial e
    Continuada ou de Qualificação Profissional, na modalidade
    a distância, semipresencial ou
    presencial, regidos pela Lei de Diretrizes e Bases da
    Educação Nacional (Lei nº. 9.394/96), art. 39,
    §2º, inciso I, regulamentados pelo Decreto Federal nº.
    5.154/2004, art. 1º. Inciso I e art. 3º e
    reconhecidos por meio da Resolução nº 1/2012 do Conselho
    de Educação do Distrito Federal.
</p>
<p class="justificado">
    <strong>
        CLÁUSULA SEGUNDA - Da finalidade do
        curso
    </strong>: Oferecer aos reeducandos do sistema
    penitenciário, de regime fechado e semiaberto das
    penitenciárias masculinas e femininas,
    oportunidades de educação profissional, na forma de cursos
    de qualificação profissional – EAD,
    adaptadas às exigências atuais do mercado de trabalho e às
    necessidades dos alunos, visando à
    requalificação e à (re)inclusão no mundo do trabalho nas
    mais diversas áreas em que
    atuam/atuavam ou venham a atuar, em diferenciados setores
    produtivos, motivando-os a não
    reincidir no crime, dando-lhes os subsídios necessários à
    prática profissional.
</p>
<p class="justificado">
    <strong>2.1</strong>. O curso oferecido pela CONTRATANTE
    proporciona ao estudante a formação e o
    desenvolvimento de aptidões para o exercício de atividades
    produtivas requeridas pelo mundo do
    trabalho e para o convívio social, e, após a conclusão do
    referido curso, o estudante faz jus à
    certificação.
</p>
<p class="justificado">
    <strong>2.2</strong> A certificação do curso não
    representa garantia ao reeducando/estudante para obtenção
    do
    benefício de remição de parte do tempo de execução da pena
    por estudo, previsto no artigo 126
    da Lei nº 7.210/84. Caberá ao reeducando/estudante
    requerer o benefício e o Poder Judiciário
    decidir por sua concessão ou recusa.
</p>
<p class="justificado">
    <strong>CLÁUSULA TERCEIRA - Do preenchimento</strong>: O
    preenchimento do contrato online e o envio à
    Contratada é de inteira responsabilidade do
    Contratante/Cursista ou seu Preposto, bem como as
    informações nele inseridas, devendo manter sempre
    atualizado seus dados junto à Contratada,
    durante a vigência do contrato.
</p>
<p class="justificado">
    <strong>
        CLÁUSULA QUARTA - Do material
        didático
    </strong>: Após o pagamento do(s) curso(s)
    selecionado(s)
    pelo Contratante/Cursista ou Preposto, o mesmo receberá
    via Núcleo de Ensino do seu
    Estabelecimento Prisional, o material didático para estudo
    – apostila.
</p>
<p class="justificado">
    <strong>
        CLÁUSULA QUINTA - Da realização do(s)
        curso(s)
    </strong>: O(s) curso(s) será(ão) realizado(s)
    observando-se as normas previstas no Regimento Escolar e
    em consonância com o disposto na
    Lei Federal nº 12.433/2011.
</p>
<p class="justificado">
    <strong>CLÁUSULA SEXTA - Da avaliação</strong>: A
    avaliação é escrita, individual e a nota mínima para
    aprovação em cada curso é 6 (seis), de um total de 10
    (dez) pontos. Caso o Contratante/Cursista
    não obtenha essa pontuação, poderá realizar outras
    avaliações, até que se obtenha a pontuação
    mínima exigida, mediante o pagamento da taxa de reprova,
    estipulada pela Secretaria da
    Contratada. A(s) avaliação(ões) será(ão) arquivada(s) no
    dossiê do Contratante/Cursista, durante
    o período exigido pela legislação educacional vigente,
    vedada a extração de cópia ao Contratante
    ou Preposto.
</p>
<p class="justificado">
    <strong>
        CLÁUSULA SÉTIMA - Do resultado da
        avaliação
    </strong>: O Cursista/Contratante ou Preposto
    poderá
    tomar conhecimento do resultado de sua prova no prazo de
    até 3 (três) dias úteis, a contar da data
    de sua realização. O resultado será publicado na ÁREA DO
    ALUNO, no portal
    WWW.CENEDQUALIFICANDO.COM.BR e enviado eletronicamente ao
    Estabelecimento Prisional
    do Cursista/Contratante.
</p>
<p class="justificado">
    <strong>
        CLÁUSULA OITAVA - Dos recursos da
        avaliação
    </strong>: O Cursista/Contratante ou Preposto
    que
    desejar interpor recurso contra o resultado da prova
    disporá de três dias úteis para fazê-lo, a
    contar da publicação do resultado, no horário de
    funcionamento da Contratada, que é de segunda
    a sexta, das 8h às 18h, e aos sábados, das 8h às 12h,
    horário de Brasília, exceto domingos e
    feriados nacionais e distritais.
</p>
<p class="justificado">
    <strong>
        CLÁUSULA NONA - Do certificado de
        conclusão
    </strong>: Uma vez aprovado, o
    Cursista/Contratante ou
    Preposto receberá o Certificado de conclusão do curso, que
    será expedido no prazo de até 10
    (dez) dias corridos, a contar da data de realização da
    avaliação. Eventual pedido de segunda via
    de certificado, será fornecido mediante pagamento de uma
    taxa, com prazo de entrega de 10 dias
    corridos. (Sobre taxas e valores, consultar a Secretaria
    da Contratada).
</p>
<p class="justificado">
    <strong>
        CLÁUSULA DÉCIMA - Da anuência e solidariedade do
        Preposto
    </strong>: O Preposto identificado no
    presente instrumento anui e assume todas as obrigações
    pecuniárias expressas neste contrato, de
    forma isolada ou concorrente com o Contratante perante a
    Contratada, inclusive para efeitos de
    execução judicial, protesto em Cartório e
    inclusão/negativação junto aos órgãos de proteção ao
    crédito.
</p>
<p class="justificado">
    <strong>
        CLÁUSULA DÉCIMA PRIMEIRA - Da falta de
        pagamento
    </strong>: Em caso de inadimplemento, o
    Contratante ou Preposto autoriza expressamente a
    Contratada a encaminhar a dívida vinculada ao
    seu nome e CPF para inclusão na base de dados das
    instituições de proteção ao crédito ou a
    Cartório de Protestos, independentemente de notificação
    prévia, caso em que, estando o
    Cursista/Contratante em mora, fica condicionada a
    expedição e liberação do certificado à quitação
    do débito.
</p>
<p class="justificado">
    <strong>
        CLÁUSULA DÉCIMA SEGUNDA - Da multa e demais
        encargos por atraso
    </strong>: O não
    cumprimento do pagamento na data de vencimento acarretará
    ao Contratante multa de 2% (dois
    por cento) sobre o débito, acrescido de 1% (um por cento)
    de juros de mora ao mês e atualização
    monetária.
</p>
<p class="justificado">
    <strong>
        CLÁUSULA DÉCIMA TERCEIRA - Do
        avalista
    </strong>: Caso a forma de pagamento proposta
    seja por
    meio de título de crédito pertencente à terceiro, o
    Contratante ou seu
    Preposto, independentemente de seu aval escrito no título,
    declara-se principal pagador e
    coobrigado da dívida, ambos solidários passivos, e
    autoriza a Contratada a encaminhar a dívida
    vinculada a seu nome e CPF, para inclusão na base de dados
    das instituições de proteção ao
    crédito, dispensando qualquer notificação prévia.
</p>
<p class="justificado">
    <strong>
        CLÁUSULA DÉCIMA QUARTA - Da transferência e
        rescisão
    </strong>: O presente contrato é
    intransferível e poderá ser rescindido por iniciativa do
    Contratante/Cursista ou Preposto em até 7
    (sete) dias corridos a contar da data de assinatura ou
    contratação eletrônica, caso a contratação
    seja via internet ou Correios. Em hipótese alguma haverá
    devolução de valores fora desse prazo.
</p>
<p class="justificado">
    <strong>14.1</strong> O pedido de rescisão contratual
    deverá ser formalizado e encaminhado para o e-mail da
    contratada: cenedqualificando@gmail.com, no prazo de 07
    (sete) dias, a contar da data de
    contratação online, conforme o art.49, do Código de Defesa
    do Consumidor, Lei nº 8078/90.
</p>
<p class="justificado">
    <strong>14.2</strong> Após o exaurimento do prazo de 07
    (sete) dias para desistência contratual, não haverá
    restituição dos valores pagos, inclusive se, no decorrer
    do curso, o interno for beneficiado com
    progressão de regime ou concessão de liberdade provisória
    ou definitiva.
</p>
<p class="justificado">
    <strong>
        CLÁUSULA DÉCIMA QUINTA - Do prazo do contrato e dos
        prazos para conclusão do(s)
        curso(s)
    </strong>: O presente contrato tem prazo de validade de
    até 180 (cento e oitenta) dias corridos.
    Nesse prazo, o Contratante/Cursista deverá fazer a(s)
    avaliação(ões) do curso(s) contratado(s).
</p>
<p class="justificado">
    <strong>15.1</strong> Expirado o prazo, sem a realização
    da avaliação, o curso poderá ser aproveitado, mediante
    renovação de matrícula e pagamento do valor vigente, desde
    que ainda esteja sendo ofertado pela
    Contratada.
</p>
<p class="justificado">
    <strong>15.2</strong> A Contratada, a seu critério, poderá
    conceder desconto na renovação de matrícula. (Sobre
    desconto, consultar a Secretaria da Contratada).
</p>
<p class="justificado">
    <strong>
        CLÁUSULA DÉCIMA SEXTA - Do horário de
        funcionamento e tutoria
    </strong>: A Contratada estará à
    disposição do Contratante/Cursista ou Preposto, de segunda
    a sexta, das 8h às 18h, e aos
    sábados, das 8h às 12h, horário de Brasília, exceto
    domingos e feriados nacionais e distritais. Os
    casos omissos serão resolvidos pela Direção da Contratada.
    O relacionamento entre as partes
    será regido pelas leis da República Federativa do Brasil,
    sem consideração a qualquer disposição
    sobre conflito de leis.
</p>
<p class="justificado">
    <strong>CLÁUSULA DÉCIMA SÉTIMA – Foro</strong>: O Foro
    para solucionar os litígios que decorrerem da
    execução deste Termo de Contrato será o do domicílio do
    Contratante, conforme disposto no
    inciso I, do art. 101, da Lei 8.078/90, Código de Defesa
    do Consumidor.
</p>
